body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
 justify-content: space-between;
 align-items:center;
 margin-right: 120px;
 margin-left: 100px;

 
}
.content{
  /* align-items: right; */
  text-align: left;
  margin-left: 100px;
}
.home{
  border: none;
  background-color: white;
  margin-left: 300px;
  /* margin-left: 5px; */
  
}
.home:hover{
  background-color:pink;
  border-color:pink;
  border-radius: 5px;
  color: white;
  /* width: fit-content; */
 
}
.newblog:hover{
  border: none;
  background-color: white;
  color:rgb(241, 25, 144) ;
  

}
hr{
  width: 1000px;

}

button{
  width: 100px;
  padding: 5px;
  color: grey;
 
}
.newblog{
  background-color:rgb(241, 25, 144);
  border-color:rgb(241, 25, 144);
  border-radius: 5px;
  color: white;
}
h1{
  color: rgb(241, 25, 144);

}
p{
  color: grey;
}

